<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h1>edit user!</h1>
<form th:action="@{users(id=${user.getId()})}" th:method="PATCH" th:object="${user}">
    <p>id</p>
    <input th:field="*{id}" type="text"/>
    <p>user firstname</p>
    <input th:field="*{name}" type="text"/>
    <p>user lastname</p>
    <input th:field="*{surname}" type="text"/>
    <p>age</p>
    <input th:field="*{age}" type="number"/>
    <p>email</p>
    <input th:field="*{email}" type="text"/>
    <p>password</p>
    <input th:field="*{password}" type="password"/>
    <br>
    <label>
        <select multiple name="selectedRoles">
            <option th:each="name : ${roles}" th:text="${name}" th:value="${name}"></option>
        </select>
    </label>
    <br>
    <br>
    <input type="submit" value="Change this user">
</form>
<form th:action="@{users(id=${user.getId()})}" th:method="DELETE">
    <input th:charset="utf-8" type="submit" value="Delete"/>
</form>
<h3><a href="/admin/users"> Close</a><a href="/logout"> Logout</a></h3>
</body>
</html>