<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new user</title>
</head>
<body>
<h3>add new user!</h3>
<form th:action="@{/admin/newUser}" th:method="POST" th:object="${user}">
    <p>user firstname</p>
    <input th:field="*{name}" type="text"/>
    <p>user lastname</p>
    <input th:field="*{surname}" type="text"/>
    <p>age</p>
    <input th:field="*{age}" type="number"/>
    <p>email</p>
    <input th:field="*{email}" type="text"/>
    <p>password</p>
    <input th:field="*{password}" type="text"/>
    <p>role</p>
    <label>
        <select multiple name="selectedRoles">
            <option th:each="name : ${roles}" th:text="${name}" th:value="${name}"></option>
        </select>
    </label>
    <br>
    <br>
    <input type="submit" value="Add new user">
</form>
<h3><a href="/admin/users">close</a><a href="/logout">logout</a></h3>
</body>
</html>