<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin Panel</title>
</head>
<body>
<h2>admin Panel</h2>
<h3><a href="/admin/newUser">add new user</a></h3>
<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>user firstname</th>
        <th>user secondname</th>
        <th>age</th>
        <th>email</th>
        <th>role</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.name}">user firstname</td>
        <td th:text="${user.surname}">user lastname</td>
        <td th:text="${user.age}">age</td>
        <td th:text="${user.email}">email</td>
        <td th:text="${user.roles}">role</td>
        <td>
            <a th:href="@{/admin/editUser(id=${user.id})}">edit</a>
            <a th:href="@{/admin/deleteUser(id=${user.id})}">delete</a>
        </td>
    </tr>
    </tbody>
</table>
<h3><a href="/logout">logout</a></h3>
</body>
</html>